@model MinhDucEvent.ViewModels.Catalog.Products.ProductCreateRequest;
@using System.ComponentModel.DataAnnotations;
@{
    ViewData["Title"] = "Tạo mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    
}
@section Scripts{
    
   <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>
         
        $(document).ready(function () {
            CKEDITOR.replace('txt_details',{
                height: 100,
                filebrowserUploadUrl: 'upload_detail_image'
            });
        });
        
        $(document).ready(function(){
            $(".addItem").on("click", function(event){
                var dataString = {color: color}; //JSON-formatted string
                $.ajax({  
                    type: "POST",  
                    url: "cart_update.php",  
                    data: dataString
                });
            });
        });
        
        
        $(document).ready(function () {
            $(".btn-add").on("click", function (event) {
                   console.log("event = ", $('#id').val()) 
            })    
        })
        
          function Add(obj){
                const id = $('.idItem').val();
                console.log("id  ==== ",document.getElementById('idItem').innerText );
            }
        
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Tạo mới San Pham</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OriginalPrice" class="control-label"></label>
                        <input asp-for="OriginalPrice" type="number" class="form-control" />
                        <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details" class="control-label"></label>
                        <textarea id="txt_details" name="txt_details" asp-for="Details" rows="35" class="form-control"></textarea>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoDescription" class="control-label"></label>
                        <input asp-for="SeoDescription" class="form-control" />
                        <span asp-validation-for="SeoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoTitle" class="control-label"></label>
                        <input asp-for="SeoTitle" class="form-control" />
                        <span asp-validation-for="SeoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeoAlias" class="control-label"></label>
                        <input asp-for="SeoAlias" class="form-control" />
                        <span asp-validation-for="SeoAlias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Mã Thiet Bi
                                    </th>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Loai
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="form-group" asp-for="eqm" id="item_body">
                                @* @for(int i = 0; i < Model.eqm.Count(); i++) *@
                            @foreach(var item in Model.eqm)
                                {
                                    
                                    <tr>
                                        <td id="idItem">
                                            @Html.DisplayFor(modelItem => item.Id)
                                            @* $1$ <input asp-for="EquipmentVm[0]." type="file" class="form-control" value="@Html.DisplayFor(modelItem => item.Id)" /> #1# *@
                                            @* @Html.TextAreaFor(modelItem => item.Id) *@
                                            @* @Html.TextBoxFor( s=> s.eqm[i].Id,new {@class="form-group"}) *@
                                        </td>
                                        <td id="Name">
                                            @Html.DisplayFor(modelItem => item.Name)
                                             @* @Html.TextBoxFor(s => s.eqm[i].Name,new {@class="form-group"}) *@
                                        </td>
                                        <td id="EquipmentCategories">
                                            @Html.DisplayFor(modelItem => item.EquipmentCategories)
                                            @* @Html.TextBoxFor( s => s.eqm[i].EquipmentCategories, new {@class="form-group"}) *@
                                        </td>

                                        <td id="Stock">
                                           @Html.TextBoxFor(modelItem => item.Stock)
                                            @* @Html.TextBoxFor(s => s.eqm[i].Stock, new{@class="form-group"}) *@
                                        </td>
                                        <td>
                                            <button onclick="Add($(this))">Add</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                   @* @await Component.InvokeAsync("Pager", lequipment) *@

                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>